<p id="notice"><%= notice %></p>

<h1>Videos</h1>

<div>Videos Processing: <%= @videos.where(status: Video::PROCESSING).count %></div>

<table>
  <thead>
    <tr>
      <th>Recorded At</th>
      <th>Length</th>
      <th>Time on Camera</th>
      <th>BPM</th>
      <th>Total # of Blinks</th>
      <th>Average Blink Length</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @videos.where(status: Video::PROCESSED).each do |video| %>
      <tr>
        <td><%= video.started_recording_at %></td>
        <td><%= (video.analyzer.video_length / 60).round(1) %>m</td>
        <td><%= (video.analyzer.time_on_camera / 60).round(1) %>m</td>
        <td><%= video.analyzer.blinks_per_minute.round %></td>
        <td><%= video.analyzer.blinks.count %></td>
        <td><%= video.analyzer.average_blink_length.round(4) %></td>
        <td><%= link_to 'Show', video %></td>
        <td><%= link_to 'Edit', edit_video_path(video) %></td>
        <td><%= link_to 'Destroy', video, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>

</table>

<br>

<%= link_to 'New Video', new_video_path %>
